<div class="container p-3">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Dirección</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Sucursales</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let banco of listadoBancos">
                <td>{{ banco.nombre }}</td>
                <td>{{ banco.direccion }}</td>
                <td>{{ banco.telefono }}</td>
                <td>
                    <button class="btn btn-primary" (click)="openModalVerSucursales(verSucursales, banco.sucursales)"> Sucursales </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #verSucursales>
    <app-modal-sucursales [listadoSucursales]="listadoSucursales"></app-modal-sucursales>
</ng-template>